body {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 260px;
    height: 50%;
    background-color: #071d49;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* align-content:space-evenly; */
    justify-content: space-evenly;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.7s ease-in-out;
    
}

.sidebar.hide {
    transform: translateX(-260px);
}

.sidebar a {
    font-size: 14px;
    text-decoration: none;
    color: #8a8a8a;
}

.sidebar a:hover{
    color: #fff;
}

.form-input {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.form-submit {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #C4D600;
    color: #071D49;
    cursor: pointer;
}

#log_out{
    /* width: 80%; */
}

.toggle-button {
    position: absolute;
    top: 10px;
    right: -20px;
    background-color: #C4D600;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}

label {
    color: #C4D600;
    text-decoration-color: #C4D600;
}
