body {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 100px;
    right: 0;
    width: 260px;
    height: 70%;
    background-color: #071d49;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.7s ease-in-out;    
}

.sidebar.hide {
    transform: translateX(260px);
}

.sidebar a {
    font-size: 14px;
    text-decoration: none;
    color: #8a8a8a;
}

.sidebar a:hover{
    color: #fff;
}

.form-input {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.form-submit {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #C4D600;
    color: #071D49;
    cursor: pointer;
}

#form_registro {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #071D49;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#form_registro #registro{
    width: 60%;
    padding: 8px;
    font-size: 10px;
    text-align: center;
}

.form-submit_dis {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #5c5f3a;
    color: #071D49;
    justify-content: center;
}



.toggle-button {
    position: absolute;
    top: 10px;
    left: -28px;
    background-color: #C4D600;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);    
}

label{
    color: #C4D600;
    text-decoration-color: #C4D600;
}
